body {
  /*background: url(http://i.stack.imgur.com/p9mUO.jpg);*/
  background-color: #6A6A6A;
}
hr {
  border-width: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

form {
  max-width: 400px;
}

fieldset {
  background-color: #eee;
  border-width: 0;
  margin: 0;
  padding: 20px;
}
fieldset :first-child { margin-top: 0; }
fieldset :last-child { margin-bottom: 0; }

canvas {
  background-color: #eee;
  margin-top: 20px;
}

.guesses-left { color: #999; }

.word-display {
  font-size: 3em;
  text-align: center;
}
/*h1,h2{
  color: white;
}*/
#instructions{
  color: white;
}
.word-display span { display: inline-block; }
.word-display span + span { margin-left: .2em; }
